.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container__section {
  height: 92.64px;
  margin-top: 42px;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}

.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid rgba(102, 102, 102, 1);
}