.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
font-size: 14px;
color: rgba(255, 255, 255, 1);
text-decoration: none;
}

.menu__link:hover {
  color: rgba(218, 1, 0, 1);
}