.news {
  margin-bottom: 124px;
}

.news__title {
  color: white;
  margin-bottom: 51px;
  font-size: 36px;
}

.news__list {
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  flex: 1;
  height: 394px;
  vertical-align: top;
  position: relative;
  border-radius: 7px;
  margin-bottom: 2%;
  overflow: hidden;
  margin-bottom: 124px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__bg {
  width: 557px;
  height: 394px;
  display: block;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 30px;
  color: white;
}

.news__subtitle {
  font-weight: 700;
}

.news__data {
  font-size: 14px;
}

.news__subtitle {
  font-size: 24px;
}

.news__text {
  font-size: 16px;
}